<app-navbar></app-navbar>
<div class="container theme-showcase" role="main">
  <div class="row featurette">
    <div class="col-md-5">
      <img src="/labAngular/src/images/images/mundial.jpg" alt="500x500">
      <div class="col-md-7">
        <h2> Sorteo Mundial</h2>
        <p class="lead">
          Sorteo mundial, es ahora o nunca, no desaproveches la oportunidad.
          Inscribete y podras se el ganador de un viaje para 4 personas a la final del mundial de Brasil 2014
        </p>
      </div>
    </div>
  </div>
  <hr>
  <competitor-info></competitor-info> 
</div>
